{% extends "base.html" %}
{% block main %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> 登录 </h3>
				</div>
				<div class="panel-body">
					<form action="/signin" method="post">
						<div class="form-group">
							<label>用户名</label>
							<input type="text" name="text" class="form-control" placeholder="你名字叫啥？">
						</div>
						<div class="form-group">
							<label>密码</label>
							<input type="password" name="password" class="form-control" placeholder="你的密码呢？">
						</div>
						<button type="submit" class="btn btn-primary">登录</button>
					</form>
				</div>
			</div>
		</div>
		<!-- <div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-hd-video"></span> Video training</h3>
				</div>
				<div class="panel-body">
					<video width="100%" controls="controls">
						<source src="https://github.com/michaelliao/learn-javascript/raw/master/video/vscode-nodejs.mp4">
					</video>
				</div>
			</div>
		</div> -->
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1>Bevis Web</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">博客</h3>
				</div>
				<div class="panel-body">
					<p>
						我的博客
					</p>
					<p><a target="_blank" href="https://utopia1991.github.io/">Click Here</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Love</h3>
				</div>
				<div class="panel-body">
					<p>
						我和晶晶
					</p>
					<p><a target="_blank" href="https://utopia1991.github.io/special/love/love.html">Click Here</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">FV.js</h3>
				</div>
				<div class="panel-body">
					<p>一个简单的以视频做全屏背景的 js 插件库</p>
					<p><a target="_blank" href="https://utopia1991.github.io/special/fv/fv.html">Click Here</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
